<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solvd.airportsystem.persistence.repository.PassengerRepository">

    <sql id="passengerColumns">
        id,
        name,
        passport_number,
        birth_date
    </sql>

    <sql id="passengerColumnsWithAlias">
        psg.id AS passenger_id,
        psg.name AS passenger_name,
        psg.passport_number,
        psg.birth_date
    </sql>

    <resultMap id="PassengerResultMap" type="Passenger" autoMapping="false">
        <id property="id" column="id"/>
        <result property="fullName" column="name"/>
        <result property="passportNumber" column="passport_number"/>
        <result property="birthDate" column="birth_date" jdbcType="DATE"/>
    </resultMap>

    <insert id="create" parameterType="Passenger" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO passengers (name, passport_number, birth_date)
        VALUES (#{fullName}, #{passportNumber}, #{birthDate})
    </insert>

    <update id="update" parameterType="Passenger">
        UPDATE passengers
        SET name = #{fullName}, passport_number = #{passportNumber}, birth_date = #{birthDate}
        WHERE id = #{id}
    </update>

    <delete id="deleteById" parameterType="Long">
        DELETE FROM passengers WHERE id = #{id}
    </delete>

    <select id="findById" parameterType="Long" resultMap="PassengerResultMap">
        SELECT
        <include refid="passengerColumns"/>
        FROM passengers
        WHERE id = #{id}
    </select>

    <select id="findAll" resultMap="PassengerResultMap">
        SELECT
        <include refid="passengerColumns"/>
        FROM passengers
    </select>

</mapper>
